@page "/"
<ol>
<li><strong><em>Educație și formare profesională</em></strong>
<ul>
<li>Implicarea în programe de studii, evaluarea și asigurarea calității;</li>
<li>Training-uri de dezvoltare personală pentru studenți;</li>
<li>Conlucrarea cu structurile de formare continuă și  profesională din cadrul universității;</li>
<li>Campanii de informare a studenților cu privire la mobilitățile academice, programe  Erasmus+ etc.;</li>
<li>Participarea în organizarea activităților științifice;</li>
<li>Organizarea activităților de creativitate studențească;</li>
</ul>
</li>
<li> <strong><em>Social</em></strong>
<ul>
<li>Participă la cazarea studenților în căminele instituției;</li>
<li>Monitorizează starea sanitară și condițiile de trai în cămine;</li>
<li>Gestionează baza de date a locatarilor căminelor;</li>
<li>Conlucrează cu consiliile locatarilor căminelor studențești;</li>
<li>Responsabil de activitățile organizate de către locatarii căminelor / desfășurate în cămine;</li>
<li>Monitorizează calitatea alimentației și condițiile sanitare în localurile de alimentație ale studenților în cadrul instituției.</li>
<li>Asistență socială a studenților (burse sociale, ajutoare materiale, abonamente transport, EduCard ș.a)</li>
</ul>
</li>
<li><strong><em>Cultură, agrement, turism și sport;</em></strong>
<ul>
<li>Organizarea și promovarea activităților culturale;</li>
<li>Organizarea și promovarea activităților sportive;</li>
<li>Activități de agrement și turism;</li>
</ul>
</li>
<li><strong><em>PR și Relații externe;  </em></strong>
<ul>
<li>Cooperarea și schimb de experiență cu organizații studențești similare;</li>
<li>Identificarea partenerilor și fondurilor pentru activitățile structurii;</li>
<li>Promovarea activităților structurii prin diverse metode inclusiv www.studentus.md și alte surse media online;</li>
<li>Promovarea imaginii organizației și universității;</li>
<li>Elaborarea advertorialelor;</li>
</ul>
</li>
<li><strong><em>Organizare și Resurse Umane</em></strong>
<ul>
<li>Întocmește și monitorizează documentația structurii;</li>
<li>Organizarea campaniilor electorale;</li>
<li>Informarea și evidența membrilor structurii;</li>
<li>Instruirea continuă a membrilor activi ai organizației de autoguvernare;</li>
</ul>
</li>
</ol>
